body {
    font-family: 'Segoe UI', 'Helvetica', 'Robotto', 'Arial', sans-serif;
}

.banner-container {
    position: relative;
    width: 100%;

    padding-bottom: 64px;
}

.banner-container img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.banner-text {
    position: absolute;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    color: #ffffff;

    top: 125px;
    padding-left: 48px;
    padding-right: 48px;

    width: 100%;
}

.banner-text .extra {
    font-size: 32px;
}

.text {
    text-align: justify;

    padding-left: 96px;
    padding-right: 128px;
    padding-bottom: 64px;
}

.text h1 {
    font-size: 32px;
    font-weight: 700;

    text-align: left;
}

.text h2 {
    font-size: 24px;
    font-weight: normal;

    padding-left: 32px;
}

.text a:hover,a:active {
    background-color: #6d6d6d;
    border-radius: 3px;

    color: #ffffff;
}

.text ul {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.text ul li {
    list-style-type: '-';

    text-indent: 16px;

    padding-top: 4px;
    padding-bottom: 4px;
}

* {
    padding: 0;
    margin: 0;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #262626;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: #4d4d4d;
    transition: 0.2s;
}

.checkbtn {
    font-size: 30px;
    color: #ffffff;

    float: right;
    line-height: 80px;
    margin-right: 40px;

    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

label.logo-name {
    /*color: #ffffff;
    font-size: 35px;
    font-weight: bold;*/

    line-height: 80px;
    padding: 0 100px;
}

label.logo-name img {
    width: 200px;
    padding-top: 5px;
}

@media (max-width: 952px) {
    label.logo-name {
        /*font-size: 30px;*/

        padding: 0 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {

    label.logo-name {
        /*font-size: 24px;*/

        padding: 0 20px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.2s;

        background: #3d3d3d;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,a:hover {
        background: none;
        color: #6d6d6d;
    }

    #check:checked ~ ul {
        left: 0;
    }
}